<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
		<style type="text/css">
			body {
				padding-top: 40px;
			}
		</style>
	</head>
	<body>
		<div class="message-body" id="app">
			<notification class="notification is-primary"></notification>
			<notification class="notification is-info"></notification>
			<notification class="notification is-success"></notification>
			<notification class="notification is-warning"></notification>
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script src="message.js"></script>
	</body>
</html>